:root {
    --playfairFont: 'Playfair Display', serif;
}
body {
    min-height: 100vh;
    font-family: var(--playfairFont);
    background-color: lemonchiffon;
}

header {
    text-align: center;
    background-color: lemonchiffon;
    color: black;
}

#fiveDays {
    background-color: white;
}